.room-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.room-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0.5rem;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  color: #343a40;
}

.room-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.room-image {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  margin-bottom: 1rem;
}

.room-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.room-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.room-type {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.room-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #007bff;
}

.reserve-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  align-self: flex-end;
  transition: background-color 0.3s ease-in-out;
}

.reserve-button:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  .room-card {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 992px) {
  .room-card {
    width: calc(33.33% - 1rem);
  }
}
