.booking-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #343a40;
}

.booking-form-container {
  margin-bottom: 2rem;
}

.room-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.confirmation-message {
  color: #28a745;
  font-size: 1.25rem;
  margin: 1rem 0;
}

.room-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 1rem;
  width: calc(33% - 1rem);
  height: auto;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  color: #343a40;
}

.room-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.room-image {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  margin-bottom: 1rem;
}

.room-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.room-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.room-type {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.room-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #007bff;
}

.reserve-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  align-self: flex-end;
  transition: background-color 0.3s ease-in-out;
}

.reserve-button:hover {
  background-color: #0056b3;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="number"],
input[type="text"],
.react-datepicker-wrapper,
.react-datepicker__input-container input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

.form-check-label {
  display: inline-block;
  font-weight: normal;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-6 {
  flex: 0 0 48%;
  max-width: 48%;
}

.booking-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #343a40;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  height: fit-content;
}

.cost-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.cost-button-container .btn-primary {
  margin-left: 1rem;
}

.date-pickers {
  display: flex;
  gap: 1rem;
}
